<h1><%= @planet.name %></h1>

<h3>Distance from Sun: <%= @planet.distance_from_sun %></h3>
<h3>Diameter: <%= @planet.diameter %></h3>
<h3>Orbit Period: <%= @planet.orbit_period %></h3>

<%= link_to "All Planets", planets_path %>