<h1><%= @moon.name %></h1>

<h3>Distance from Planet: <%= @moon.distance_from_planet %></h3>
<h3>Radius: <%= @moon.radius %></h3>
<h3>Orbit Period: <%= @moon.orbit_period %></h3>

<%= link_to "All Moons", moons_path, class: "all-moons" %>